---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"4","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":4,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 109758"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ef8d00e5-c0ed-4f33-8f66-d27596730c72
      X-Amz-Apigw-Id:
      - ZFi3rGHFoAMFm3A=
    body:
      encoding: UTF-8
      string: '{"status":403,"error":"Forbidden","detail":"Not authorized for resource"}'
  recorded_at: Mon, 26 Sep 2022 21:22:56 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"4","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":4,"quantity":1,"product_identifier":"SKU-4","description":"Product
        #4 - 7720 - Master","product_tax_code":"TaxCode - 109758","unit_price":"10.0","discount":0,"sales_tax":"0.0"}],"transaction_id":"R120068995","transaction_date":"2022-09-26T21:22:56Z","amount":"110.0","shipping":"100.0","sales_tax":"0.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f0f3176c-c7fd-4f63-afe3-e53b7ab8ea0b
      X-Amzn-Remapped-Content-Length:
      - '73'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZFi3wFXmIAMFX1A=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Mon, 26 Sep 2022 21:22:57 GMT
    body:
      encoding: UTF-8
      string: '{"status":403,"error":"Forbidden","detail":"Not authorized for resource"}'
  recorded_at: Mon, 26 Sep 2022 21:22:57 GMT
recorded_with: VCR 4.0.0
