---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - '07188813-7653-4e31-8715-bc09aba3e552'
      X-Amz-Apigw-Id:
      - P_1YdGq6oAMEh4g=
    body:
      encoding: UTF-8
      string: '{"regions":[{"region_code":"BC","region":"British Columbia","country_code":"CA","country":"Canada"},{"region_code":"CA","region":"California","country_code":"US","country":"United
        States"},{"region_code":"NY","region":"New York","country_code":"US","country":"United
        States"}]}'
  recorded_at: Fri, 15 Dec 2023 18:34:29 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: ASCII-8BIT
      string: '{"customer_id":"1","to_country":"US","to_zip":"99999","to_city":"Herndon","to_state":"NY","to_street":"10
        Lovely Street","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 973892"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c0d66dfc-0116-42e2-9b8d-4cb22d74a37f
      X-Amz-Apigw-Id:
      - P_1YfEkEoAMEMAw=
    body:
      encoding: UTF-8
      string: '{"status":400,"error":"Bad Request","detail":"to_zip 99999 is not used
        within to_state NY"}'
  recorded_at: Fri, 15 Dec 2023 18:34:29 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: ASCII-8BIT
      string: '{"customer_id":"1","to_country":"US","to_zip":"99999","to_city":"Herndon","to_state":"NY","to_street":"10
        Lovely Street","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-1","description":"Product
        #1 - 5912 - Master","product_tax_code":"TaxCode - 973892","unit_price":"10.0","discount":0,"sales_tax":"0.0"}],"transaction_id":"R300413654","transaction_date":"2023-12-15T18:34:30Z","amount":"110.0","shipping":"100.0","sales_tax":"0.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f19ae3a8-c08e-4959-9ac9-518cb986f8b7
      X-Amzn-Remapped-Content-Length:
      - '91'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - P_1YrFi_oAMEgsA=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Fri, 15 Dec 2023 18:34:31 GMT
    body:
      encoding: UTF-8
      string: '{"status":400,"error":"Bad Request","detail":"to_zip 99999 is not used
        within to_state NY"}'
  recorded_at: Fri, 15 Dec 2023 18:34:31 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: ASCII-8BIT
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"10
        Lovely Street","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 973892"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 941192af-7ee8-490f-af6f-c8cd947077fc
      X-Amz-Apigw-Id:
      - P_1YxH-YoAMEFSQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":9.76,"breakdown":{"city_tax_collectable":5.36,"city_tax_rate":0.04875,"city_taxable_amount":110.0,"combined_tax_rate":0.08875,"county_tax_collectable":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"line_items":[{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"1","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0}],"shipping":{"city_amount":4.88,"city_tax_rate":0.04875,"city_taxable_amount":100.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"special_district_amount":0.0,"special_tax_rate":0.0,"special_taxable_amount":0.0,"state_amount":4.0,"state_sales_tax_rate":0.04,"state_taxable_amount":100.0,"tax_collectable":8.88,"taxable_amount":100.0},"special_district_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_tax_collectable":4.4,"state_tax_rate":0.04,"state_taxable_amount":110.0,"tax_collectable":9.76,"taxable_amount":110.0},"freight_taxable":true,"has_nexus":true,"jurisdictions":{"city":"NEW
        YORK CITY","country":"US","county":"QUEENS","state":"NY"},"order_total_amount":110.0,"rate":0.08875,"shipping":100.0,"tax_source":"destination","taxable_amount":110.0}}'
  recorded_at: Fri, 15 Dec 2023 18:34:31 GMT
[...]
