---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 287501"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4095af29-fd11-41df-b9e9-e358d1a0da13
      X-Amz-Apigw-Id:
      - YXk5qFhYIAMFn-A=
    body:
      encoding: UTF-8
      string: '{"status":403,"error":"Forbidden","detail":"Not authorized for resource"}'
  recorded_at: Mon, 12 Sep 2022 22:39:06 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-1","description":"Product
        #1 - 7062 - Master","product_tax_code":"TaxCode - 287501","unit_price":"10.0","discount":0,"sales_tax":"0.0"}],"transaction_id":"R034568137","transaction_date":"2022-09-12T22:39:06Z","amount":"110.0","shipping":"100.0","sales_tax":"0.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 62a70bb2-d9de-424b-9757-1dbf739c342c
      X-Amzn-Remapped-Content-Length:
      - '73'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - YXk5zGENoAMFQzw=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Mon, 12 Sep 2022 22:39:07 GMT
    body:
      encoding: UTF-8
      string: '{"status":403,"error":"Forbidden","detail":"Not authorized for resource"}'
  recorded_at: Mon, 12 Sep 2022 22:39:07 GMT
recorded_with: VCR 4.0.0
