---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"2","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":2,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 326373"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c7d8b50d-af23-47ff-a5f5-8e0c6e985b96
      X-Amz-Apigw-Id:
      - YXk53GfPIAMFhMw=
    body:
      encoding: UTF-8
      string: '{"status":403,"error":"Forbidden","detail":"Not authorized for resource"}'
  recorded_at: Mon, 12 Sep 2022 22:39:07 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"2","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":2,"quantity":1,"product_identifier":"SKU-2","description":"Product
        #2 - 4137 - Master","product_tax_code":"TaxCode - 326373","unit_price":"10.0","discount":0,"sales_tax":"0.0"}],"transaction_id":"R347410616","transaction_date":"2022-09-12T22:39:07Z","amount":"110.0","shipping":"100.0","sales_tax":"0.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 7b831e80-3679-4216-b8d7-1c31ade8a41b
      X-Amzn-Remapped-Content-Length:
      - '73'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - YXk58G_fIAMFa7A=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Mon, 12 Sep 2022 22:39:08 GMT
    body:
      encoding: UTF-8
      string: '{"status":403,"error":"Forbidden","detail":"Not authorized for resource"}'
  recorded_at: Mon, 12 Sep 2022 22:39:08 GMT
recorded_with: VCR 4.0.0
