---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"3","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":3,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 500352"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e9634d94-a387-4e29-b5d8-74ca00f42424
      X-Amz-Apigw-Id:
      - YXlowFY_IAMFhnQ=
    body:
      encoding: UTF-8
      string: '{"status":403,"error":"Forbidden","detail":"Not authorized for resource"}'
  recorded_at: Mon, 12 Sep 2022 22:44:07 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"3","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":3,"quantity":1,"product_identifier":"SKU-3","description":"Product
        #3 - 3418 - Master","product_tax_code":"TaxCode - 500352","unit_price":"10.0","discount":0,"sales_tax":"0.0"}],"transaction_id":"R164707846","transaction_date":"2022-09-12T22:44:07Z","amount":"110.0","shipping":"100.0","sales_tax":"0.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f5372786-45ce-40c8-867c-f92775858d59
      X-Amzn-Remapped-Content-Length:
      - '73'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - YXlo3FgrIAMFioA=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Mon, 12 Sep 2022 22:44:08 GMT
    body:
      encoding: UTF-8
      string: '{"status":403,"error":"Forbidden","detail":"Not authorized for resource"}'
  recorded_at: Mon, 12 Sep 2022 22:44:08 GMT
recorded_with: VCR 4.0.0
