---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c67921d2-5236-4585-9492-1f695c369c62
      X-Amz-Apigw-Id:
      - QAHlAHBZoAMEQYQ=
    body:
      encoding: UTF-8
      string: '{"regions":[{"region_code":"BC","region":"British Columbia","country_code":"CA","country":"Canada"},{"region_code":"CA","region":"California","country_code":"US","country":"United
        States"},{"region_code":"NY","region":"New York","country_code":"US","country":"United
        States"}]}'
  recorded_at: Fri, 15 Dec 2023 20:38:42 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: ASCII-8BIT
      string: '{"customer_id":"1","to_country":"US","to_zip":"99999","to_city":"Herndon","to_state":"NY","to_street":"10
        Lovely Street","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 410113"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 274e2b32-fb34-44b4-bb1b-8fdb5d3513fc
      X-Amz-Apigw-Id:
      - QAHlDH0YIAMEicQ=
    body:
      encoding: UTF-8
      string: '{"status":400,"error":"Bad Request","detail":"to_zip 99999 is not used
        within to_state NY"}'
  recorded_at: Fri, 15 Dec 2023 20:38:43 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: ASCII-8BIT
      string: '{"customer_id":"1","to_country":"US","to_zip":"99999","to_city":"Herndon","to_state":"NY","to_street":"10
        Lovely Street","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-1","description":"Product
        #1 - 4937 - Master","product_tax_code":"TaxCode - 410113","unit_price":"10.0","discount":0,"sales_tax":"0.0"}],"transaction_id":"R075824223","transaction_date":"2023-12-15T20:38:43Z","amount":"110.0","shipping":"100.0","sales_tax":"0.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 32deea5e-6dba-4a2c-9d64-aac0732cbf4b
      X-Amzn-Remapped-Content-Length:
      - '91'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - QAHlWGRjIAMEcog=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Fri, 15 Dec 2023 20:38:45 GMT
    body:
      encoding: UTF-8
      string: '{"status":400,"error":"Bad Request","detail":"to_zip 99999 is not used
        within to_state NY"}'
  recorded_at: Fri, 15 Dec 2023 20:38:45 GMT
recorded_with: VCR 4.0.0
