<%= render 'spree/admin/shared/taxes_tabs' %>

<% content_for :page_title do %>
  <%= "Taxjar Settings" %>
<% end %>

<h2>Backfilled Orders</h2>
<ul>
  <% @transaction_sync_batch.transaction_sync_logs.find_each do |sync_log| %>
    <li><%= sync_log.order.number %></li>
  <% end %>
</ul>
