<%= render 'spree/admin/shared/taxes_tabs' %>

<% content_for :page_title do %>
  <%= "Taxjar Settings" %>
<% end %>

<h2>Backfilled Orders</h2>
<ul>
  <% @backfilled_order_numbers.each do |order_number| %>
    <li><%= order_number %></li>
  <% end %>
</ul>
