<p>
  You must provide a TaxJar API token to use this extension.

  <%= link_to "Sign up for TaxJar",
    "https://app.taxjar.com/api_sign_up",
    rel: "noreferrer",
    target: "_blank" %>

  and provide your API key. See the extension documentation for details on
  providing this token to the extension.
</p>
<p>
  <emph>
    For more help in aquiring a TaxJar API token, see

    <%= link_to "How do I get a TaxJar sales tax API token?",
      "https://support.taxjar.com/article/160-how-do-i-get-a-sales-tax-api-token",
      target: "_blank",
      rel: "noreferrer" %>
  </emph>
</p>
