---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f60829e9-36a8-4f40-9dee-a368d82de13d
      X-Amz-Apigw-Id:
      - es0zKFmtIAMFjbw=
    body:
      encoding: UTF-8
      string: '{"regions":[{"region_code":"BC","region":"British Columbia","country_code":"CA","country":"Canada"},{"region_code":"CA","region":"California","country_code":"US","country":"United
        States"},{"region_code":"NY","region":"New York","country_code":"US","country":"United
        States"}]}'
  recorded_at: Fri, 13 Jan 2023 21:34:50 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"to_country":"US","to_zip":"91761","to_city":"Ontario","to_state":"CA","to_street":"450
        Helen Ave","line_items":[{"id":9999,"quantity":1,"unit_price":"19.99","discount":0,"product_tax_code":"TaxCode
        - 905833"}],"shipping":"10.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e8da26cc-860c-4835-abd9-e6bf7868708c
      X-Amz-Apigw-Id:
      - es0zNFvUIAMFh3A=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":1.55,"breakdown":{"city_tax_collectable":0.0,"city_tax_rate":0.0,"city_taxable_amount":0.0,"combined_tax_rate":0.0775,"county_tax_collectable":0.2,"county_tax_rate":0.01,"county_taxable_amount":19.99,"line_items":[{"city_amount":0.0,"city_tax_rate":0.0,"city_taxable_amount":0.0,"combined_tax_rate":0.0775,"county_amount":0.2,"county_tax_rate":0.01,"county_taxable_amount":19.99,"id":"9999","special_district_amount":0.1,"special_district_taxable_amount":19.99,"special_tax_rate":0.005,"state_amount":1.25,"state_sales_tax_rate":0.0625,"state_taxable_amount":19.99,"tax_collectable":1.55,"taxable_amount":19.99}],"special_district_tax_collectable":0.1,"special_district_taxable_amount":19.99,"special_tax_rate":0.005,"state_tax_collectable":1.25,"state_tax_rate":0.0625,"state_taxable_amount":19.99,"tax_collectable":1.55,"taxable_amount":19.99},"freight_taxable":false,"has_nexus":true,"jurisdictions":{"city":"ONTARIO","country":"US","county":"SAN
        BERNARDINO COUNTY","state":"CA"},"order_total_amount":29.99,"rate":0.0775,"shipping":10.0,"tax_source":"destination","taxable_amount":19.99}}'
  recorded_at: Fri, 13 Jan 2023 21:34:50 GMT
[...]
