---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"to_country":"US","to_zip":"91761","to_city":"Ontario","to_state":"CA","to_street":"450
        Helen Ave","line_items":[{"id":1,"quantity":1,"unit_price":"19.99","discount":"-0.0","product_tax_code":"TaxCode
        - 932150"}],"shipping":"10.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - da26345e-3a30-4899-bdd9-c72c61f63ee6
      X-Amz-Apigw-Id:
      - Jll0iHA6oAMF4gw=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":1.55,"breakdown":{"city_tax_collectable":0.0,"city_tax_rate":0.0,"city_taxable_amount":0.0,"combined_tax_rate":0.0775,"county_tax_collectable":0.2,"county_tax_rate":0.01,"county_taxable_amount":19.99,"line_items":[{"city_amount":0.0,"city_tax_rate":0.0,"city_taxable_amount":0.0,"combined_tax_rate":0.0775,"county_amount":0.2,"county_tax_rate":0.01,"county_taxable_amount":19.99,"id":"1","special_district_amount":0.1,"special_district_taxable_amount":19.99,"special_tax_rate":0.005,"state_amount":1.25,"state_sales_tax_rate":0.0625,"state_taxable_amount":19.99,"tax_collectable":1.55,"taxable_amount":19.99}],"special_district_tax_collectable":0.1,"special_district_taxable_amount":19.99,"special_tax_rate":0.005,"state_tax_collectable":1.25,"state_tax_rate":0.0625,"state_taxable_amount":19.99,"tax_collectable":1.55,"taxable_amount":19.99},"freight_taxable":false,"has_nexus":true,"jurisdictions":{"city":"ONTARIO","country":"US","county":"SAN
        BERNARDINO COUNTY","state":"CA"},"order_total_amount":29.99,"rate":0.0775,"shipping":10.0,"tax_source":"destination","taxable_amount":19.99}}'
  recorded_at: Mon, 29 Nov 2021 22:11:40 GMT
[...]
