---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ac7ed4cd-f280-4bf4-9c99-7d39341d092e
      X-Amz-Apigw-Id:
      - G41cDHcAIAMFWUQ=
    body:
      encoding: UTF-8
      string: '{"regions":[{"region_code":"BC","region":"British Columbia","country_code":"CA","country":"Canada"},{"region_code":"CA","region":"California","country_code":"US","country":"United
        States"},{"region_code":"NY","region":"New York","country_code":"US","country":"United
        States"}]}'
  recorded_at: Wed, 21 Jun 2023 21:18:17 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 230591"},{"id":2,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 230591"},{"id":3,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 230591"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5bda80f3-1f1d-41bd-93f7-832028f14b83
      X-Amz-Apigw-Id:
      - G41cFH9noAMFy9g=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":11.54,"breakdown":{"city_tax_collectable":6.34,"city_tax_rate":0.04875,"city_taxable_amount":130.0,"combined_tax_rate":0.08875,"county_tax_collectable":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"line_items":[{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"1","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0},{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"2","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0},{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"3","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0}],"shipping":{"city_amount":4.88,"city_tax_rate":0.04875,"city_taxable_amount":100.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"special_district_amount":0.0,"special_tax_rate":0.0,"special_taxable_amount":0.0,"state_amount":4.0,"state_sales_tax_rate":0.04,"state_taxable_amount":100.0,"tax_collectable":8.88,"taxable_amount":100.0},"special_district_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_tax_collectable":5.2,"state_tax_rate":0.04,"state_taxable_amount":130.0,"tax_collectable":11.54,"taxable_amount":130.0},"freight_taxable":true,"has_nexus":true,"jurisdictions":{"city":"NEW
        YORK CITY","country":"US","county":"QUEENS","state":"NY"},"order_total_amount":130.0,"rate":0.08875,"shipping":100.0,"tax_source":"destination","taxable_amount":130.0}}'
  recorded_at: Wed, 21 Jun 2023 21:18:17 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-2","description":"Product
        #1 - 574 - Master","product_tax_code":"TaxCode - 230591","unit_price":"10.0","discount":0,"sales_tax":"0.89"},{"id":2,"quantity":1,"product_identifier":"SKU-3","description":"Product
        #2 - 9979 - Master","product_tax_code":"TaxCode - 230591","unit_price":"10.0","discount":0,"sales_tax":"0.89"},{"id":3,"quantity":1,"product_identifier":"SKU-4","description":"Product
        #3 - 4201 - Master","product_tax_code":"TaxCode - 230591","unit_price":"10.0","discount":0,"sales_tax":"0.89"}],"transaction_id":"R525233498","transaction_date":"2023-06-21T21:18:17Z","amount":"130.0","shipping":"100.0","sales_tax":"11.55"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 927ad1a2-3841-4c78-87ba-ee224f3e3034
      X-Amzn-Remapped-Content-Length:
      - '1019'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - G41cMFGsIAMFSpQ=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Wed, 21 Jun 2023 21:18:18 GMT
    body:
      encoding: UTF-8
      string: '{"order":{"user_id":225397,"transaction_reference_id":null,"transaction_id":"R525233498","transaction_date":"2023-06-21T21:18:17.000Z","to_zip":"11430","to_street":"A
        Different Road","to_state":"NY","to_country":"US","to_city":"HERNDON","shipping":"100.0","sales_tax":"11.55","provider":"api","line_items":[{"unit_price":"10.0","sales_tax":"0.89","quantity":1,"product_tax_code":"TaxCode
        - 230591","product_identifier":"SKU-2","id":0,"discount":"0.0","description":"Product
        #1 - 574 - Master"},{"unit_price":"10.0","sales_tax":"0.89","quantity":1,"product_tax_code":"TaxCode
        - 230591","product_identifier":"SKU-3","id":1,"discount":"0.0","description":"Product
        #2 - 9979 - Master"},{"unit_price":"10.0","sales_tax":"0.89","quantity":1,"product_tax_code":"TaxCode
        - 230591","product_identifier":"SKU-4","id":2,"discount":"0.0","description":"Product
        #3 - 4201 - Master"}],"from_zip":null,"from_street":null,"from_state":null,"from_country":"US","from_city":null,"exemption_type":null,"customer_id":"1","amount":"130.0"}}'
  recorded_at: Wed, 21 Jun 2023 21:18:18 GMT
[...]
- request:
    method: get
    uri: https://api.taxjar.com/v2/transactions/orders/R525233498
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 70615c98-e5a4-46e3-8758-149ca35154fe
      X[...]
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/refunds
    body:
      encoding: UTF-8
      string: '{"to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","transaction_id":"R525233498-REFUND","transaction_reference_id":"R525233498","transaction_date":"2023-06-21T21:18:17Z","amount":-130.0,"sales_tax":-11.55,"shipping":-100.0,"line_items":[{"unit_price":-10.0,"sales_tax":-0.89,"quantity":1,"product_tax_code":"T[...]
[...]
