---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4e4d78d2-bebe-419a-bedc-03a2a9b9fc51
      X-Amz-Apigw-Id:
      - GHRabF7HIAMFhtw=
    body:
      encoding: UTF-8
      string: '{"regions":[{"region_code":"BC","region":"British Columbia","country_code":"CA","country":"Canada"},{"region_code":"CA","region":"California","country_code":"US","country":"United
        States"},{"region_code":"NY","region":"New York","country_code":"US","country":"United
        States"}]}'
  recorded_at: Tue, 06 Jun 2023 20:23:55 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"2","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 45886"},{"id":2,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 45886"},{"id":3,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 45886"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5bab70c0-0787-4b27-a8b9-597872085b44
      X-Amz-Apigw-Id:
      - GHRadHI6oAMF9Zg=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":11.54,"breakdown":{"city_tax_collectable":6.34,"city_tax_rate":0.04875,"city_taxable_amount":130.0,"combined_tax_rate":0.08875,"county_tax_collectable":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"line_items":[{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"1","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0},{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"2","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0},{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"3","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0}],"shipping":{"city_amount":4.88,"city_tax_rate":0.04875,"city_taxable_amount":100.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"special_district_amount":0.0,"special_tax_rate":0.0,"special_taxable_amount":0.0,"state_amount":4.0,"state_sales_tax_rate":0.04,"state_taxable_amount":100.0,"tax_collectable":8.88,"taxable_amount":100.0},"special_district_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_tax_collectable":5.2,"state_tax_rate":0.04,"state_taxable_amount":130.0,"tax_collectable":11.54,"taxable_amount":130.0},"freight_taxable":true,"has_nexus":true,"jurisdictions":{"city":"NEW
        YORK CITY","country":"US","county":"QUEENS","state":"NY"},"order_total_amount":130.0,"rate":0.08875,"shipping":100.0,"tax_source":"destination","taxable_amount":130.0}}'
  recorded_at: Tue, 06 Jun 2023 20:23:56 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"2","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-2","description":"Product
        #1 - 9195 - Master","product_tax_code":"TaxCode - 45886","unit_price":"10.0","discount":0,"sales_tax":0},{"id":2,"quantity":1,"product_identifier":"SKU-3","description":"Product
        #2 - 5186 - Master","product_tax_code":"TaxCode - 45886","unit_price":"10.0","discount":0,"sales_tax":0},{"id":3,"quantity":1,"product_identifier":"SKU-4","description":"Product
        #3 - 6713 - Master","product_tax_code":"TaxCode - 45886","unit_price":"10.0","discount":0,"sales_tax":0}],"transaction_id":"R405522762","transaction_date":"2023-06-06T20:23:56Z","amount":"0.0","shipping":"100.0","sales_tax":0}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - fecbf4f3-432f-4245-8b00-c1588464be7e
      X-Amzn-Remapped-Content-Length:
      - '128'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - GHRaoEYEoAMFo5Q=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Tue, 06 Jun 2023 20:23:57 GMT
    body:
      encoding: UTF-8
      string: '{"status":400,"error":"Bad Request","detail":"amount must be equal
        to the sum of line items and shipping, excluding sales tax."}'
  recorded_at: Tue, 06 Jun 2023 20:23:57 GMT
[...]
