---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 8f336468-63a0-490d-bc15-5c5c958f1ac1
      X-Amz-Apigw-Id:
      - SKn-WH0sIAMEqYA=
    body:
      encoding: UTF-8
      string: '{"regions":[{"region_code":"CA","region":"California","country_code":"US","country":"United
        States"},{"region_code":"NY","region":"New York","country_code":"US","country":"United
        States"}]}'
  recorded_at: Fri, 26 Jan 2024 21:12:59 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: ASCII-8BIT
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 34067"},{"id":2,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 34067"},{"id":3,"quantity":2,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 34067"}],"shipping":"0.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 021b3528-fcaa-4275-8c4e-73b389a2ef10
      X-Amz-Apigw-Id:
      - SKn-ZEuwoAMEvyQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":3.55,"breakdown":{"city_tax_collectable":1.95,"city_tax_rate":0.04875,"city_taxable_amount":40.0,"combined_tax_rate":0.08875,"county_tax_collectable":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"line_items":[{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"1","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0},{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"2","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0},{"city_amount":0.98,"city_tax_rate":0.04875,"city_taxable_amount":20.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"3","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.8,"state_sales_tax_rate":0.04,"state_taxable_amount":20.0,"tax_collectable":1.78,"taxable_amount":20.0}],"shipping":{"city_amount":0.0,"city_tax_rate":0.04875,"city_taxable_amount":0.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"special_district_amount":0.0,"special_tax_rate":0.0,"special_taxable_amount":0.0,"state_amount":0.0,"state_sales_tax_rate":0.04,"state_taxable_amount":0.0,"tax_collectable":0.0,"taxable_amount":0.0},"special_district_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_tax_collectable":1.6,"state_tax_rate":0.04,"state_taxable_amount":40.0,"tax_collectable":3.55,"taxable_amount":40.0},"freight_taxable":true,"has_nexus":true,"jurisdictions":{"city":"NEW
        YORK CITY","country":"US","county":"QUEENS","state":"NY"},"order_total_amount":40.0,"rate":0.08875,"shipping":0.0,"tax_source":"destination","taxable_amount":40.0}}'
  recorded_at: Fri, 26 Jan 2024 21:12:59 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: ASCII-8BIT
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-1","description":"First
        Product - Master","product_tax_code":"TaxCode - 34067","unit_price":"10.0","discount":0,"sales_tax":"0.89"},{"id":2,"quantity":1,"product_identifier":"SKU-2","description":"Second
        Product - Master","product_tax_code":"TaxCode - 34067","unit_price":"10.0","discount":0,"sales_tax":"0.89"},{"id":3,"quantity":2,"product_identifier":"SKU-3","description":"Third
        Product - Master","product_tax_code":"TaxCode - 34067","unit_price":"10.0","discount":0,"sales_tax":"1.78"}],"transaction_id":"R925733488","transaction_date":"2024-01-26T21:12:59Z","amount":"40.0","shipping":"0.0","sales_tax":"3.56"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 88a6e44b-3f76-4c51-abeb-e2a0b57b8075
      X-Amzn-Remapped-Content-Length:
      - '1002'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - SKn-jGy9IAMES4w=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Fri, 26 Jan 2024 21:13:00 GMT
    body:
      encoding: UTF-8
      string: '{"order":{"user_id":345723,"transaction_reference_id":null,"transaction_id":"R925733488","transaction_date":"2024-01-26T21:12:59.000Z","to_zip":"11430","to_street":"A
        Different Road","to_state":"NY","to_country":"US","to_city":"HERNDON","shipping":"0.0","sales_tax":"3.56","provider":"api","line_items":[{"unit_price":"10.0","sales_tax":"0.89","quantity":1,"product_tax_code":"TaxCode
        - 34067","product_identifier":"SKU-1","id":0,"discount":"0.0","description":"First
        Product - Master"},{"unit_price":"10.0","sales_tax":"0.89","quantity":1,"product_tax_code":"TaxCode
        - 34067","product_identifier":"SKU-2","id":1,"discount":"0.0","description":"Second
        Product - Master"},{"unit_price":"10.0","sales_tax":"1.78","quantity":2,"product_tax_code":"TaxCode
        - 34067","product_identifier":"SKU-3","id":2,"discount":"0.0","description":"Third
        Product - Master"}],"from_zip":null,"from_street":null,"from_state":null,"from_country":"US","from_city":null,"exemption_type":null,"customer_id":"1","amount":"40.0"}}'
  recorded_at: Fri, 26 Jan 2024 21:13:00 GMT
[...]
- request:
    method: get
    uri: https://api.taxjar.com/v2/transactions/orders/R925733488
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e5866fe7-611a-410c-ad63-cb20e20b5aeb
  [...]
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/refunds
    body:
      encoding: ASCII-8BIT
      string: '{"to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","transaction_id":"R925733488-REFUND","transaction_reference_id":"R925733488","transaction_date":"2024-01-26T21:12:59Z","amount":-40.0,"sales_tax":-3.56,"shipping":-0.0,"line_items":[{"unit_price":-10.0,"sales_tax":-0.89,"quantity":1,"product_tax_code":"[...]
[...]
