---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.taxjar.com/v2/summary_rates
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e37b629cd4bb4ff95bc96bb6f5fae72b"
    body:
      encoding: ASCII-8BIT
      string: '{"summary_rates":[{"country_code":"AT","country":"Austria","region_code":null,"region":null,"minimum_rate":{"label":"VAT","rate":0.2},"average_rate":{"label":"VAT","rate":0.2}},{"country_code":"BE","country":"Belgium","region_code":null,"region":null,"minimum_rate":{"label":"VAT","rate":0.21},"average_rate":{"label":"VAT","rate":0.21}},{"country_code":"BG","country":"Bulgaria","region_code":null,"region":null,"minimum_rate":{"label":"VAT","rate":0.2},"average_rate":{"label":"VAT","rate":0.2}},{"country_code":"CA","country":"Canada","region_code":"AB","region":"Alberta","minimum_rate":{"label":"GST","rate":0.05},"average_rate":{"label":"GST",[...]
