---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"35242","to_city":"Herndon","to_state":"AL","to_street":"10
        Lovely Street","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":"-0.0","product_tax_code":"TaxCode
        - 210066"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d6d5e81b-7bf9-48fc-8a08-f642823abc2c
      X-Amz-Apigw-Id:
      - NCletHNUoAMF7vQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":0,"freight_taxable":false,"has_nexus":false,"order_total_amount":110.0,"rate":0,"shipping":100.0,"tax_source":null,"taxable_amount":0}}'
  recorded_at: Fri, 04 Feb 2022 23:25:43 GMT
recorded_with: VCR 4.0.0
