---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 889439"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ff67af9d-7c31-4a03-8e94-be7c5b6119c8
      X-Amz-Apigw-Id:
      - UMfnuEq1oAMFygg=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":0,"freight_taxable":true,"has_nexus":false,"order_total_amount":110.0,"rate":0,"shipping":100.0,"tax_source":null,"taxable_amount":0}}'
  recorded_at: Thu, 23 Jun 2022 21:48:58 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-1","description":"Product
        #1 - 8946 - Master","product_tax_code":"TaxCode - 889439","unit_price":"10.0","discount":0,"sales_tax":"0.0"}],"transaction_id":"R544514834","transaction_date":"2022-06-23T21:48:58Z","amount":"110.0","shipping":"100.0","sales_tax":"0.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a1523865-1b56-4242-959c-bdfd4bca1ad2
      X-Amzn-Remapped-Content-Length:
      - '641'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - UMfoMF_JoAMFhgA=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Thu, 23 Jun 2022 21:49:02 GMT
    body:
      encoding: UTF-8
      string: '{"order":{"user_id":261394,"transaction_reference_id":null,"transaction_id":"R544514834","transaction_date":"2022-06-23T21:48:58.000Z","to_zip":"11430","to_street":"A
        Different Road","to_state":"NY","to_country":"US","to_city":"HERNDON","shipping":"100.0","sales_tax":"0.0","provider":"api","line_items":[{"unit_price":"10.0","sales_tax":"0.0","quantity":1,"product_tax_code":"TaxCode
        - 889439","product_identifier":"SKU-1","id":0,"discount":"0.0","description":"Product
        #1 - 8946 - Master"}],"from_zip":null,"from_street":null,"from_state":null,"from_country":"US","from_city":null,"exemption_type":null,"customer_id":"1","amount":"110.0"}}'
  recorded_at: Thu, 23 Jun 2022 21:49:02 GMT
recorded_with: VCR 4.0.0
