---
http_interactions:
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":"-0.0","product_tax_code":"TaxCode
        - 514214"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 460fb8ca-2570-4a44-8892-4c548f8b1e86
      X-Amz-Apigw-Id:
      - NtWaFEQlIAMF2bA=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":9.76,"breakdown":{"city_tax_collectable":5.36,"city_tax_rate":0.04875,"city_taxable_amount":110.0,"combined_tax_rate":0.08875,"county_tax_collectable":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"line_items":[{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"1","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0}],"shipping":{"city_amount":4.88,"city_tax_rate":0.04875,"city_taxable_amount":100.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"special_district_amount":0.0,"special_tax_rate":0.0,"special_taxable_amount":0.0,"state_amount":4.0,"state_sales_tax_rate":0.04,"state_taxable_amount":100.0,"tax_collectable":8.88,"taxable_amount":100.0},"special_district_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_tax_collectable":4.4,"state_tax_rate":0.04,"state_taxable_amount":110.0,"tax_collectable":9.76,"taxable_amount":110.0},"freight_taxable":true,"has_nexus":true,"jurisdictions":{"city":"NEW
        YORK CITY","country":"US","county":"QUEENS","state":"NY"},"order_total_amount":110.0,"rate":0.08875,"shipping":100.0,"tax_source":"destination","taxable_amount":110.0}}'
  recorded_at: Thu, 17 Feb 2022 22:49:49 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-2","description":"Product
        #2 - 9838 - Master","product_tax_code":"TaxCode - 514214","unit_price":"10.0","discount":"-0.0","sales_tax":"0.89"}],"transaction_id":"R010654408","transaction_date":"2022-02-17T22:49:49Z","amount":"110.0","shipping":"100.0","sales_tax":"9.77"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 71ac36e8-f871-4096-9da3-fbb9bef47684
      X-Amzn-Remapped-Content-Length:
      - '643'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - NtWaIFB0IAMFcFg=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Thu, 17 Feb 2022 22:49:49 GMT
    body:
      encoding: UTF-8
      string: '{"order":{"user_id":225397,"transaction_reference_id":null,"transaction_id":"R010654408","transaction_date":"2022-02-17T22:49:49.000Z","to_zip":"11430","to_street":"A
        Different Road","to_state":"NY","to_country":"US","to_city":"HERNDON","shipping":"100.0","sales_tax":"9.77","provider":"api","line_items":[{"unit_price":"10.0","sales_tax":"0.89","quantity":1,"product_tax_code":"TaxCode
        - 514214","product_identifier":"SKU-2","id":0,"discount":"0.0","description":"Product
        #2 - 9838 - Master"}],"from_zip":null,"from_street":null,"from_state":null,"from_country":"US","from_city":null,"exemption_type":null,"customer_id":"1","amount":"110.0"}}'
  recorded_at: Thu, 17 Feb 2022 22:49:49 GMT
- request:
    method: get
    uri: https://api.taxjar.com/v2/transactions/orders/R010654408
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 17158d67-2bf9-439f-be42-5c54e40a0958
      X[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/refunds
    body:
      encoding: UTF-8
      string: '{"to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","transaction_id":"R010654408-REFUND","transaction_reference_id":"R010654408","transaction_date":"2022-02-17T22:49:49Z","amount":-110.0,"sales_tax":-9.77,"shipping":-100.0,"line_items":[{"unit_price":-10.0,"sales_tax":-0.89,"quantity":1,"product_tax_code":"TaxCode
        - 514214","product_identifier":"SKU-2","id":0,"discount":-0.0,"description":"Product
        #2 - 9838 - Master"}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 00ab07ef-a018-4fc8-a920-cb9a02160226
      X-Amzn-Remapped-Content-Length:
      - '665'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - NtWaNEfCIAMFXug=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Thu, 17 Feb 2022 22:49:50 GMT
    body:
      encoding: UTF-8
      string: '{"refund":{"user_id":225397,"transaction_reference_id":"R010654408","transaction_id":"R010654408-REFUND","transaction_date":"2022-02-17T22:49:49.000Z","to_zip":"11430","to_street":"A
        Different Road","to_state":"NY","to_country":"US","to_city":"HERNDON","shipping":"-100.0","sales_tax":"-9.77","provider":"api","line_items":[{"unit_price":"-10.0","sales_tax":"-0.89","quantity":1,"product_tax_code":"TaxCode
        - 514214","product_identifier":"SKU-2","id":0,"discount":"0.0","description":"Product
        #2 - 9838 - Master"}],"from_zip":null,"from_street":null,"from_state":null,"from_country":"US","from_city":null,"exemption_type":null,"customer_id":null,"amount":"-110.0"}}'
  recorded_at: Thu, 17 Feb 2022 22:49:49 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/refunds
    body:
      encoding: UTF-8
      string: '{"to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","transaction_id":"R010654408-REFUND","transaction_reference_id":"R010654408","transaction_date":"2022-02-17T22:49:49Z","amount":-110.0,"sales_tax":-9.77,"shipping":-100.0,"line_items":[{"unit_price":-10.0,"sales_tax":-0.89,"quantity":1,"product_tax_code":"TaxCode
        - 514214","product_identifier":"SKU-2","id":0,"discount":-0.0,"description":"Product
        #2 - 9838 - Master"}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 99d6aa52-b5d4-4173-8870-aa768984a485
      X-Amzn-Remapped-Content-Length:
      - '110'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - NtWaSElMIAMFYeQ=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Thu, 17 Feb 2022 22:49:50 GMT
    body:
      encoding: UTF-8
      string: '{"status":422,"error":"Unprocessable Entity","detail":"Provider tranx
        already imported for your user account"}'
  recorded_at: Thu, 17 Feb 2022 22:49:50 GMT
recorded_with: VCR 4.0.0
