---
http_interactions:
- request:
    method: get
    uri: https://api.taxjar.com/v2/nexus/regions
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6a94a3c4-19ca-45ff-bf12-fe22d27b33b6
      X-Amz-Apigw-Id:
      - EXoZSE0WoAMFZwg=
    body:
      encoding: UTF-8
      string: '{"regions":[{"region_code":"BC","region":"British Columbia","country_code":"CA","country":"Canada"},{"region_code":"CA","region":"California","country_code":"US","country":"United
        States"},{"region_code":"NY","region":"New York","country_code":"US","country":"United
        States"}]}'
  recorded_at: Wed, 03 May 2023 23:27:16 GMT
- request:
    method: post
    uri: https://api.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"unit_price":"10.0","discount":0,"product_tax_code":"TaxCode
        - 493485"}],"shipping":"100.0"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d33ddc5a-822b-46ac-966b-81be4e2831a4
      X-Amz-Apigw-Id:
      - EXoZUGbRoAMFoiQ=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":9.76,"breakdown":{"city_tax_collectable":5.36,"city_tax_rate":0.04875,"city_taxable_amount":110.0,"combined_tax_rate":0.08875,"county_tax_collectable":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"line_items":[{"city_amount":0.49,"city_tax_rate":0.04875,"city_taxable_amount":10.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"id":"1","special_district_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_amount":0.4,"state_sales_tax_rate":0.04,"state_taxable_amount":10.0,"tax_collectable":0.89,"taxable_amount":10.0}],"shipping":{"city_amount":4.88,"city_tax_rate":0.04875,"city_taxable_amount":100.0,"combined_tax_rate":0.08875,"county_amount":0.0,"county_tax_rate":0.0,"county_taxable_amount":0.0,"special_district_amount":0.0,"special_tax_rate":0.0,"special_taxable_amount":0.0,"state_amount":4.0,"state_sales_tax_rate":0.04,"state_taxable_amount":100.0,"tax_collectable":8.88,"taxable_amount":100.0},"special_district_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"state_tax_collectable":4.4,"state_tax_rate":0.04,"state_taxable_amount":110.0,"tax_collectable":9.76,"taxable_amount":110.0},"freight_taxable":true,"has_nexus":true,"jurisdictions":{"city":"NEW
        YORK CITY","country":"US","county":"QUEENS","state":"NY"},"order_total_amount":110.0,"rate":0.08875,"shipping":100.0,"tax_source":"destination","taxable_amount":110.0}}'
  recorded_at: Wed, 03 May 2023 23:27:16 GMT
[...]
- request:
    method: post
    uri: https://api.taxjar.com/v2/transactions/orders
    body:
      encoding: UTF-8
      string: '{"customer_id":"1","to_country":"US","to_zip":"11430","to_city":"Herndon","to_state":"NY","to_street":"A
        Different Road","line_items":[{"id":1,"quantity":1,"product_identifier":"SKU-1","description":"Product
        #1 - 6139 - Master","product_tax_code":"TaxCode - 493485","unit_price":"10.0","discount":0,"sales_tax":"0.89"}],"transaction_id":"R635383732","transaction_date":"2023-05-03T23:27:17Z","amount":"110.0","shipping":"100.0","sales_tax":"9.77"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Api-Version:
      - '2020-08-07'
      Plugin:
      - supergoodsolidustaxjar
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0a02df64-c43f-45d9-85c9-bcfc90b02869
      X-Amzn-Remapped-Content-Length:
      - '643'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Api-Version:
      - '2020-08-07'
      X-Amz-Apigw-Id:
      - EXoZoEzsoAMF1FA=
      X-Amzn-Remapped-Server:
      - Cowboy
      X-Amzn-Remapped-Date:
      - Wed, 03 May 2023 23:27:19 GMT
    body:
      encoding: UTF-8
      string: '{"order":{"user_id":225397,"transaction_reference_id":null,"transaction_id":"R635383732","transaction_date":"2023-05-03T23:27:17.000Z","to_zip":"11430","to_street":"A
        Different Road","to_state":"NY","to_country":"US","to_city":"HERNDON","shipping":"100.0","sales_tax":"9.77","provider":"api","line_items":[{"unit_price":"10.0","sales_tax":"0.89","quantity":1,"product_tax_code":"TaxCode
        - 493485","product_identifier":"SKU-1","id":0,"discount":"0.0","description":"Product
        #1 - 6139 - Master"}],"from_zip":null,"from_street":null,"from_state":null,"from_country":"US","from_city":null,"exemption_type":null,"customer_id":"1","amount":"110.0"}}'
  recorded_at: Wed, 03 May 2023 23:27:18 GMT
recorded_with: VCR 4.0.0
